body {
    background: url('../images/pooltable.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

main {
    flex: 1 0 auto;
}

.card {

    margin-top: 50px;
    margin-bottom: 50px;
    padding: 30px;
    border-radius: 30px;
    color: black;
}

.list-group-item {
    background-color: rgba(249, 246, 246, 0.7);
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 30px;
    border-radius: 30px;
    color: black;
}

.footer {
    flex-shrink: 0;
}

.footer .list-inline-item {
    color: black;
}

.approval-message {

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2rem;

}

.custom-container {
    background-color: rgba(4, 83, 59, 0.9);
}

.custom-nav-tabs .nav-item .custom-nav-link {
    background-color: #00897b;
    color: #ffffff;
}

.custom-nav-tabs .nav-item .custom-nav-link.active {
    background-color: #00695c;
    color: #ffffff;
}