body {
    background: url('../images/pooltable.jpg') no-repeat center center fixed;
    background-size: cover;

}

.card {
    background-color: rgba(137, 135, 135, 0.7);
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 30px;
    border-radius: 30px;
    color: black;
}

.list-group-item {
    background-color: rgba(249, 246, 246, 0.7);
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 30px;
    border-radius: 30px;
    color: black;
}

.approval-message {

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2rem;

}