body {
    background: url('../images/pooltable.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

body.blog-page {
    background: rgba(52, 58, 64, 1) !important;

}

.col-md-6.masthead-text {
    background-color: #ffffff;
}

.post-title {
    font-size: 3rem;
    font-weight: bold;
    color: #ffffff;
}

.post-content {

    font-size: 18px;
    line-height: 1.6;
}

.masthead-image img {
    width: 50%;
    height: auto;
}

.masthead-text {
    position: absolute;
    background-color: rgba(52, 58, 64, 0.7);
    top: 50%;
    right: 0%;
    transform: translateY(-50%);
    color: #fff;
    height: 80%;
    width: 40%;
    font-size: 1em;
}


.section {
    border: 2px solid #00695c;
    border-radius: 30px;
    padding: 20px;
    margin-bottom: 20px;

}

.nav-item {
    border-right: 1px solid #ffffff;
}

.nav-item:last-child {
    border-right: none;
}

.navbar a:hover {
    color: #00695c !important;
}

.navbar-toggler {
    border-color: #00695c !important;
}


.navbar-toggler:hover {
    color: #00695c !important;
}

main {
    flex: 1 0 auto;
}

h1 {
    color: #ffffff;


}

.card {
    background-color: rgba(52, 58, 64, 0.7);
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 30px;
    border-radius: 30px;
    color: white;
}

.list-group-item {
    background-color: rgba(249, 246, 246, 0.7);
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 30px;
    border-radius: 30px;
    color: black;
}


.footer {
    flex-shrink: 0;

}

.footer .list-inline-item {
    color: white;
}

.approval-message {

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2rem;

}

.custom-container {
    background-color: rgba(4, 83, 59, 0.9);
}

.custom-nav-tabs .nav-item .custom-nav-link {
    background-color: #00897b;
    color: #ffffff;
}

.custom-nav-tabs .nav-item .custom-nav-link.active {
    background-color: #00695c;
    color: #ffffff;
}

.icon-white {
    color: white;
}


.icon-white:hover {
    color: #00695c;
}