{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Edit Booking{% endblock %}
<!-- edit_booking.html -->
{% block content %}
<div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="messageModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                {% for message in messages %}
                <p{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</p>
                    {% endfor %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Continue</button>
            </div>
        </div>
    </div>
</div>
<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="card shadow">
        <div class="card-body">
            <h1 class="text-center edit-h1">Edit Booking</h1>
            <form method="post" class="mt-4">
                {% csrf_token %}
                <div class="alert alert-info" role="alert">
                    You are about to edit the booking with the following details:
                </div>
                <div class="form-group">
                    <label for="{{ form.user.id_for_label }}">Name</label>
                    <input type="text" class="form-control" value="{{ request.user.username }}" readonly>
                    <input type="hidden" id="{{ form.user.id_for_label }}" name="{{ form.user.html_name }}"
                        value="{{ request.user.id }}">
                    {{ form.user.errors }}
                </div>
                <div class="form-group mt-3">
                    <label for="{{ form.booking_date.id_for_label }}">Booking Date</label>
                    <input type="date" class="form-control" id="{{ form.booking_date.id_for_label }}"
                        name="{{ form.booking_date.name }}" value="{{ form.booking_date.value|date:'Y-m-d' }}" required
                        readonly>
                </div>
                {{ form.booking_date.errors }}
                <div class="form-group">
                    <label><strong>Booking Time:</strong></label>
                    <input type="text" class="form-control" value="{{ booking.booking_time }}" readonly>
                </div>
                <div class="alert alert-info" role="alert">
                    Please select a new date and time for your booking:
                </div>
                <form method="post" action="{% url 'booking' %}" class="bg-dark text-white p-5">
                    {% csrf_token %}
                    {{ form.non_field_errors }}

                    <div class="form-group mt-3">
                        <label for="{{ form.booking_date.id_for_label }}">Booking Date</label>
                        {{ form.booking_date }}
                        {{ form.booking_date.errors }}
                    </div>

                    <div class="form-group">
                        <label for="id_booking_time">Booking Time</label>
                        <select name="booking_time" id="id_booking_time" class="form-control">
                            <option value="">---------</option>
                            <option value="15:00:00">3:00 PM</option>
                            <option value="15:30:00">3:30 PM</option>
                            <option value="15:45:00">3:45 PM</option>
                            <option value="16:00:00">4:00 PM</option>
                            <option value="16:15:00">4:15 PM</option>
                            <option value="16:30:00">4:30 PM</option>
                            <option value="16:45:00">4:45 PM</option>
                            <option value="17:00:00">5:00 PM</option>
                            <option value="17:15:00">5:15 PM</option>
                            <option value="17:30:00">5:30 PM</option>
                            <option value="17:45:00">5:45 PM</option>
                            <option value="18:00:00">6:00 PM</option>
                            <option value="18:15:00">6:15 PM</option>
                            <option value="18:30:00">6:30 PM</option>
                            <option value="18:45:00">6:45 PM</option>
                            <option value="19:00:00">7:00 PM</option>
                            <option value="19:15:00">7:15 PM</option>
                            <option value="19:30:00">7:30 PM</option>
                            <option value="19:45:00">7:45 PM</option>
                            <option value="20:00:00">8:00 PM</option>
                            <option value="20:15:00">8:15 PM</option>
                            <option value="20:30:00">8:30 PM</option>
                            <option value="20:45:00">8:45 PM</option>
                            <option value="21:00:00">9:00 PM</option>
                            <option value="21:15:00">9:15 PM</option>
                            <option value="21:30:00">9:30 PM</option>
                            <option value="21:45:00">9:45 PM</option>
                            <option value="22:00:00">10:00 PM</option>
                        </select>
                        {{ form.booking_time.errors }}
                    </div>
                    {{ form.duration }}
                    {{ form.status }}
                    <div class="form-group">
                        <label for="{{ form.table.id_for_label }}"></label>
                        {{ form.table }}
                        {{ form.table.errors }}
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn book-btn">Edit Booking</button>
                    </div>
                </form>

        </div>
    </div>
</div>
{% if messages %}
<script>
    $(document).ready(function () {
        $('#messageModal').modal('show');
    });
</script>
{% endif %}
{% endblock %}