{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container py-5">
    <h1 class="text-center mb-4">The Pool Hall</h1>

    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-body text-center">
                    <h4>Please Register to become a member, all ready a member please login </h4>
                    <a href="{% url 'account_signup' %}" class="btn btn-primary mr-2">Register</a>
                    <a href="{% url 'account_login' %}" class="btn btn-secondary mr-2">Login</a>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h2>About</h2>
                    <p>Welcome to The Pool Hall , the ultimate destination for pool enthusiasts! As a member, enjoy
                        exclusive access to top-notch tables through easy online booking. Connect with like-minded
                        players in a modern and friendly atmosphere. Elevate your game at The Pool Hall where every shot
                        is a celebration!</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}