{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="messageModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                {% if messages %}
                {% for message in messages %}
                <p class="alert alert-{{ message.tags }}">{{ message }}</p>
                {% endfor %}
                {% endif %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Continue</button>
            </div>
        </div>
    </div>
</div>
    <div class="row justify-content-center">
    <div>
        {% if user.is_authenticated %}
        <div class="card-body   text-center head-title">
            <h1 class="mb-4 ">
                The Pool Hall
            </h1>
            <a href="{% url 'booking' %}" class="btn book-btn" aria-label="Book your table now">Book Now</a>
        </div>
    </div>
    {% endif %}
    {% if not user.is_authenticated %}
    <div class=" card mb-3 mx-auto text-center" style="max-width: 600px">
        <div class="text-center">
            <h2 class="mb-4">The Pool Hall</h2>
            <p>Please Register to become a member, all ready a member please login </p>
            <a href="{% url 'account_signup' %}" class="btn btn-primary mr-2">Register</a>
            <a href="{% url 'account_login' %}" class="btn btn-secondary mr-2">Login</a>
        </div>
    </div>
    {% endif %}

    <div class="row justify-content-center">
        <div class="card adout-card">
            <h2>About Us</h2>
            <p>Welcome to The Pool Hall, the ultimate destination for pool enthusiasts! As a member, you'll enjoy
                exclusive access to our top-notch tables through our easy online booking system. Connect with
                like-minded players in a modern and friendly atmosphere. Whether you're a seasoned pro or a beginner,
                you'll find a welcoming community here.</p>

            <p>At The Pool Hall, we believe that every shot is a celebration. We're more than just a pool hall - we're a
                hub for the pool community. We host regular tournaments and events, offering you the chance to test your
                skills and meet new people. Our staff are passionate about pool and always on hand to offer tips and
                advice. Plus, we have a fully stocked bar and a menu of delicious food to keep you fueled during your
                games.</p>

            <p>So why wait? Elevate your game at The Pool Hall today!</p>
        </div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% if messages %}
<script>
    $(document).ready(function () {
        $('#messageModal').modal('show');
    });
</script>
{% endif %}
{% endblock %}