{% extends 'base.html' %}

{% block title %}Your Bookings{% endblock %}

{% block content %}
<div class="container custom-container">
    <h1 class="text-center head-booking">Your Bookings</h1>
    <!--Message Modal-->
    {% if messages %}
    <div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="messageModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body text-center">
                    {% for message in messages %}
                    <p{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</p>
                        {% endfor %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Continue</button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs custom-nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active custom-nav-link" id="upcoming-tab" data-toggle="tab" href="#upcoming"
                        role="tab">Upcoming</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link custom-nav-link" id="past-tab" data-toggle="tab" href="#past" role="tab">Past</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link custom-nav-link" id="cancelled-tab" data-toggle="tab" href="#cancelled"
                        role="tab">Cancelled</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="upcoming" role="tabpanel">
                        <!-- Upcoming bookings go here -->
                        {% for booking in upcoming_bookings %}

                        <div class="card mb-3">
                            <div class="card-body booking-card">
                                <h5 class="card-title">Date: {{ booking.booking_date }}, Time:
                                    {{ booking.booking_time }}
                                </h5>

                                <a href="{% url 'edit_booking' booking.id %}" class="btn alter-btn mr-2">Edit</a>
                                <a href="{% url 'cancel_booking' booking.id %}" class="btn alter-btn">Cancel</a>
                            </div>
                        </div>
                        {% empty %}
                        <p class="text-center">You have no upcoming bookings.</p>
                        {% endfor %}
                    </div>
                    <div class="tab-pane fade" id="past" role="tabpanel">
                        <!-- Past bookings go here -->
                        {% for booking in past_bookings %}
                        <div class="card mb-3">
                            <div class="card-body">
                                <h5 class="card-title">Date: {{ booking.booking_date }}, Time:
                                    {{ booking.booking_time }}
                                </h5>
                            </div>
                        </div>
                        {% empty %}
                        <p class="text-center">You have no past bookings.</p>
                        {% endfor %}
                    </div>
                    <div class="tab-pane fade" id="cancelled" role="tabpanel">
                        <!-- Cancelled bookings go here -->
                        {% for booking in cancelled_bookings %}
                        <div class="card mb-3">
                            <div class="card-body">
                                <h5 class="card-title">Date: {{ booking.booking_date }}, Time:
                                    {{ booking.booking_time }}
                                    <span class="badge badge-danger">Cancelled</span>
                                </h5>
                            </div>
                        </div>
                        {% empty %}
                        <p class="text-center">You have no cancelled bookings.</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}